snippet task "desc" i
task('$1', function() {
	$0
})
endsnippet
snippet cm "dest"
//==$1===========================================================================
$0
///============================================================================
endsnippet
