snippet "^m" "desc" rA
manhatan
endsnippet
snippet "miow n" "desc"
meow meow meow
endsnippet
snippet " border"
border: ${1:width} ${2:style} ${3:color}
endsnippet
snippet "foo " "desc" b
foobar
endsnippet
snippet "foo " "desc" r
foobar
endsnippet
snippet inc< "description" i
include <${1:stdio.h}>
$0
endsnippet
snippet " - " "assignment" rA
 <-
endsnippet
