snippet cg "dest"
curl \
    -X GET \
    ${1:http://localhost:${0:3000}} \
    | jsonlint
endsnippet
snippet cp "dest"
curl \
    -X POST \
    -H 'Content-Type: application/json' \
    -d '$1' \
    http://localhost:${2:3000} \
    | jsonlint
endsnippet
snippet ct
curl \
    -w '\ntime taken: %{time_total} s\n' \
    ${1:http://localhost:${0:3000}}
endsnippet
