snippet cg "dest"
curl \
    -X GET \
    http://localhost:${1:3000} \
    | jsonlint
endsnippet
snippet cp "dest"
curl \
    -X POST \
    -H 'Content-Type: application/json' \
    -d '$1' \
    http://localhost:${2:3000} \
    | jsonlint
endsnippet
